body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #f4f4f4;
    font-weight: bold;
    color: #333333;
}
h1{
color: white;
text-align: center;
background-color: darkblue;
border-radius: 2em;
border: lightslategray 10px;
}
h2{
    background-color: rgb(221, 217, 217);
    text-align: center;
}

ul{
    font-size: larger;
}

a{
    color: darkblue;
    text-transform: uppercase;
}
